DATABASE_URL=
REDIS_URL=
STORE_CORS=https://cantine-storefront.vercel.app
ADMIN_CORS=https://cantine-restaurant.medusajs.app
AUTH_CORS=https://cantine-storefront.vercel.app,https://cantine-restaurant.medusajs.app
N8N_WEBHOOK_BASE_URL=https://n8n.srv1162628.hstgr.cloud/webhook

# Sanity CMS sync
SANITY_API_TOKEN=
SANITY_PROJECT_ID=7ory909q
SANITY_DATASET=production
SANITY_API_VERSION=2024-01-01
SANITY_STUDIO_URL=
